footer.page-footer
	.page-footer__wrapper
		//- ul.page-footer__menu
		//- 	li.page-footer__menu-item
		//- 		a(href="#") Недвижимость
		//- 	li.page-footer__menu-item
		//- 		a(href="#")  Услуги и деятельность
		//- 	li.page-footer__menu-item
		//- 		a(href="#")  Бытовая электроника	
		//- 	li.page-footer__menu-item
		//- 		a(href="#") Хобби, отдых и спорт
		//- 	li.page-footer__menu-item
		//- 		a(href="#") Транспорт 
		//- 	li.page-footer__menu-item
		//- 		a(href="#") Товары для детей
		//- 	li.page-footer__menu-item
		//- 		a(href="#") Все для дома и сада
		//- 	li.page-footer__menu-item
		//- 		a(href="#") Животные
		//- 	li.page-footer__menu-item
		//- 		a(href="#") Бизнес
		//- 	li.page-footer__menu-item
		//- 		a(href="#") Мода и стиль
		//- 	li.page-footer__menu-item
		//- 		a(href="#")  Продукты питания
		//- 	li.page-footer__menu-item
		//- 		a(href="#") Отдам даром
		nav.page-footer__navigation
			ul.page-footer__navigation-list
				li.page-footer__navigation-item
					a.page-footer__navigation-link(href="#") Подать объявление   
				li.page-footer__navigation-item
					a.page-footer__navigation-link(href="#") О проекте 
				li.page-footer__navigation-item
					a.page-footer__navigation-link(href="#") Объявления 
				li.page-footer__navigation-item
					a.page-footer__navigation-link(href="#") Помощь
				li.page-footer__navigation-item
					a.page-footer__navigation-link(href="#") Личный кабинет
		.page-footer__info
			p.page-footer__company-name © 2017 Barter — Сервис по обмену вещами и услугами
			a(href="#").page-footer__it-construction Сделано в IT-Construction 
