extends source/page-template

block styles
	+link("css/magnific-popup")
	+link("css/style")
block title
	title Мои сообщения
block body
	+body("my_messages")
block content
	include my_messages/page-header
	main(class="my_messages-main")
		include my_messages/my_messages_content
	include my_messages/page-footer
block scripts
	+script("libs/jquery.min.js")
	+script("libs/component.selectfx.js")
	+script("libs/jquery.magnific-popup.min.js")
	+script("js/common.js")