* {
	box-sizing: border-box;
	transition: background-color .25s ease, color .10s ease;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
}

ul,
li,
h1,
h2,
h3,
h4,
p,
figure {
	margin: 0;
	padding: 0;
}
ul,li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
button {
	border: none;
	ourline: none;
	&:focus,
	&:active {
		ourline: none;
		border: none;
	}
}

#icon-plus {
	.cls-1 {
		fill: #fff;
	}
}
#icon-arrow-left {
	.cls-1 {
		fill: #fff;
	}
}

@media screen and (max-width: 1279px) {
#icon-plus {
	.cls-1 {
		fill: @blue;
	}
}
}

@media screen and (max-width: 767px) {
body {
	overflow-x: hidden;
}
}