.number-confirm-pop-up {
	.pop-up();
	&__form {
		.form(376px);
		&-wrapper {
			width: 81.4%;
			margin: 0 auto;
		}
		&-header {
			text-align: center;
			font-size: 22px;
			line-height: 24px;
			margin-bottom: 21px;
		}
		&-input {
			.input();
		}
		&-close-btn {
			.close-btn();
		}
		&-send-btn {
			.blue-btn();
		}
	}
}

@media screen and (max-width: 767px) {
	.number-confirm-pop-up {
		&__form {
			width: 91%;
			max-width: 320px;
			&-wrapper {
				width: 87.5%;
			}
		}
	}
}