section.services
	.services__wrapper
		.breadcrumbs
			a.breadcrumbs__link(href="#") Все объявления в Казани   
			a.breadcrumbs__link(href="#")  Услуги и деятельность
		.services__header
			h2 Услуги и деятельность
		ul.services__list
			+services_item("IT", "574")
			+services_item("Аренда оборудования ", "352")
			+services_item("Безопасность, детективы ", "190")
			+services_item("Бухгалтерские услуги", "248")
			+services_item("Дипломы и набор текста", "42")
			+services_item("Другое", "6750")
			+services_item("Музыка и развлечения", "436")
			+services_item("Няни, сиделки", "108")
			+services_item("Образование, курсы", "1478")
			+services_item("Перевод", "60")
			+services_item("Питание", "138")
			+services_item("Сад", "122")
			+services_item("Транспорт", "2676")
			+services_item("Уборка", "508")
			+services_item("Установка оборудования", "383")
			+services_item("Уход за животными", "224")
			+services_item("Юридические услуги", "1154")
			
		ul.posters__list
			+poster("car","Mercedes-Benz 170 2001","Транспорт","Москва","Сегодня","21","00","370 000","1 шт.")
			+poster("tablet","Новый смартфон Sony Xperia Z3 compact","Телефоны","Казань","24 апреля","12","56","14 000","1 шт.")
			+poster("bed","Шикарное постельное белье премиум класса","Предметы интерьера","Санкт-Петербург","23 апреля","10","34","1450","5 шт.")
			+poster("keds","Бордовые кеды Vans old school","Обувь и одежда","Ижевск","22 апреля","20","11","3600","1 шт.")
			+poster("constructor","Натяжные потолки от производителя за 1 день","Обслуживание и ремонт","Челябинск","21 апреля","09","15","7000","не ограничено")
			+poster("caviar","Имитированая красная и черная икра (цена за 0.5кг)","Продукты питания","Новосибирск","20 апреля","01","55","800","8 кг.")