.about-content {
	&__wrapper {
		.wrapper(1200px);
	}
	&__text {
		padding-top: 53px;
		padding-right: 115px;
		padding-left: 115px;
		padding-bottom: 75px;
		margin-bottom: 72px;
		p {
			font-size: 14px;
			color: #3d3d3d;
		}
	}
	&__info {
		h3 {
			font-size: 18px;
			text-align: center;
			margin-bottom: 30px;
			font-weight: 600;
		}
		&-contacts {
			border: 5px solid #e6e6e6;
			width: 376px;
			padding: 25px 0;
			padding-top: 20px;
			margin: 0 auto;
		}
		&-tel {
			display: block;
			.font(22px, 24px, 700);
			text-align: center;
			margin-bottom: 8px;
		}
		&-mail {
			display: block;
			text-align: center;
			font-size: 14px;
			color: @blue;
		}
	}
}

@media screen and (max-width: 1279px) {
	.about-content {
		&__wrapper {
			width: 92.5%;
			max-width: 900px;
		}
		&__text {
			padding-left: 50px;
			padding-right: 50px;
		}
	}
}

@media screen and (max-width: 1279px) {
	.about-content {
		&__wrapper {
			max-width: 500px;
		}
		&__text {
			padding-left: 0px;
			padding-right: 0px;
			p {
				font-size: 12px;
			}
		}
		&__info {
			h3 {
				font-size: 14px;
			}
			&-contacts {
				width: 100%;
			}
			&-tel {
				font-size: 18px;
			}
			&-mail {
				font-size: 12px;
			}
		}
	}
}