.page-header {
	padding: 20px 0;
	&__navigation {
		&-wrapper {
			.wrapper(1200px);
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding: 0 16px;
			margin-bottom: 20px;
		}
	}
	&__logo-text {
		.font(18px, 24px, 800);
		text-transform: uppercase;
		margin-right: 109px;
	}
	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
		margin-right: 227px;
		&-item {
			line-height: 24px;
			color: #000;
			&:not(:last-child) {
				margin-right: 40px;
			}
		}
	}
	&__login-link {
		position: relative;
		padding-left: 39px;
		margin-right: 90px;
		&:hover {
			color: @blue;
		}
		&-icon {
			position: absolute;
			left: 0px;
			top: 0;
			width: 28px;
			height: 28px;
			text-align: center;
			background-color: #f4f4f7;
			border-radius: 50%;
			padding-top: 5px;
			svg {
				width: 10px;
				height: 14px;
			}
		}
		&-text {
			line-height: 24px;
		}
	}
	&__request-btn {
		&:hover {
			background-color: #1934c9;
		}
		min-height: 44px;
		width: 207px;
		border-radius: 6px;
		background-color: @blue;
		.font(14px, 24px, 400);
		color: #fff; 
		cursor: pointer;
		line-height: 24px;
		position: relative;
		padding-left: 35px;
		svg {
			width: 21px;
			height: 21px;
			position: absolute;
			left: 21px;
			top: 11px;
		}
	}
	&__search {
		background-color: #f4f4f7;
		padding-top: 32px;
		padding-bottom: 30px;
		&-wrapper {
			.wrapper(1200px);
			padding: 0 16px;
		}
		&-controls-wrapper {
			display: flex;
		}
		&-form-btn {
			order: 4;
			width: 90px;
			min-height: 44px;
			text-overflow: ellipsis;
			background-color: @red;
			border-radius: 0 6px 6px 0;
			font-size: 14px;
			line-height: 24px;
			color: #fff;
			cursor: pointer;
			&:hover {
				background-color: #d21f41;
			}
		}
	}
	.cs-skin-border {
		ul {
			padding: 0 10px;
			span {
				padding: 0;
				text-indent: 10px;
				&:hover {
					color: #fff;
					background-color: @blue;
				}
			}
		}
		&:nth-of-type(1) {
			width: 277px;
			.cs-placeholder {
				border-radius: 6px 0 0 6px;
				border-right: none;
				padding-left: 22px;
			}
		}
		&:nth-of-type(2) {
			width: 496px;
			.cs-placeholder {
				border-right: none;
				padding-left: 18px;
			}
		}
		&:nth-of-type(3) {
			width: 306px;
			.cs-placeholder {
				border-right: none;
				padding-left: 17px;
			}
		}
		.cs-selected {
			span:after {
				display: none;
			}
		}
		.cs-placeholder {
			padding: 0;
			border: 2px solid #e6e6e6;
			padding: 7px 20px;
			padding-bottom: 8px;
			&:after {
				content: "";
				background-image: url(../img/svg/arrow-down.svg);
				background-repeat: no-repeat;
				display: block;
				width: 10px;
				height: 10px;
				top: 56%;
		    transform: translate(-5px,-50%);
			}
		}
		.cs-options {
			margin-top: 3px;
			border: 2px solid #e6e6e6;
			box-shadow: 0 0 30px #cdcdcd;
			color: #000;
			font-size: 13px;
			line-height: 29px;
		}
		.cs-active  {
			.cs-placeholder {
				color: @blue !important;
			}
		}
	}
	div.cs-skin-border {
		font-size: 13px;
		font-weight: 400;
	}
	&__options-wrapper {
		padding-top: 18px;
		label {
			margin-right: 23px;
			cursor: pointer;
		}
		input {
			display: none;
			&:checked + span:before {
				background-color: @blue;
				background-image: url(../img/svg/check_icon.svg);
				background-repeat: no-repeat;
				background-position: center center;
			}
		}
		span {
			padding-left: 31px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				width: 18px;
				height: 18px;
				background-color: white;
				border: 2px solid #e6e6e6;
				border-radius: 6px;
			}
		}
	}
}