.posters {
	padding-top: 20px;
	&__wrapper {
		.wrapper(1200px);
		padding: 0 16px;
	}
	&__header-wrapper {
		display: flex;
		justify-content: space-between;
		margin-bottom: 19px;
		h2 {
			font-size: 22px;
			position: relative;
			top: 8px;
		}
	}
	&__list {
		.poster-item {
			position: relative;
			border: 1px solid #e6e6e6;
			margin-bottom: 20px;
			padding-top: 20px;
			padding-bottom: 13px;
			padding-right: 36px;
			padding-left: 20px;
			transition: box-shadow .25s ease;
			&:nth-child(2) {
				.poster-details {
					max-width: 290px;
					.poster-header {
						margin-bottom: 1px;
					}
				}
			}
			&:nth-child(3) {
				.poster-details {
					max-width: 375px;
					.poster-header {
						margin-bottom: 1px;
					}
				}
			}
			&:nth-child(5),
			&:last-child {
				.poster-details {
					max-width: 370px;
					.poster-header {
						margin-bottom: 1px;
					}
				}
			}
			&:hover {
				box-shadow: 0 0 30px #cdcdcd;
			}
		}
		.poster-wrapper {
			display: flex;
			position: relative;
			//justify-content: space-between;
		}
		.poster-link {
			position: absolute;
			height: 100%;
			width: 50%;
			top: 0;
			left: 0;
			display: block;
			z-index: 1;
		}
		.poster-logo {
			margin-right: 75px;
		}
		.poster-details {
	    padding-top: 9px;
	    padding-left: 4px;
		}
		.poster-header {
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 25px;
		}
		.poster-category {
			display: block;
			color: @blue;
			line-height: 22px;
			position: relative;
			z-index: 2;
		}
		.poster-city,
		.poster-date {
			font-size: 12px;
			line-height: 13px;
			color: @grey;
			position: relative;
			z-index: 2;
		}
		.poster-price-block {
			margin-left: auto;
		}
		.poster-price {
			font-size: 15px;
			font-weight: 700;
		}
		.poster-count {
			color: @grey;
		}
		.poster-price-block {
	    padding-top: 8px;
		}
		.poster-btn {
			width: 225px;
			height: 44px;
			background-color: @red;
			border-radius: 6px;
			display: inline-block;
			text-align: center;
			font-size: 14px;
			color: #fff;
			line-height: 44px;
			margin-top: 15px;
			&:hover {
				background-color: #d21f41;
			}
		}
	}
	.cs-skin-border {
		width: 180px;
		height: 44px;
		ul {
			padding: 0 10px;
			span {
				padding: 0;
				text-indent: 10px;
				&:hover {
					color: #fff;
					background-color: @blue;
				}
			}
		}
		.cs-selected {
			span:after {
				display: none;
			}
		}
		.cs-placeholder {
			padding: 0;
			border: 2px solid #e6e6e6;
			padding: 7px 16px;
			padding-bottom: 8px;
			border-radius: 6px;
			&:after {
				content: "";
				background-image: url(../img/svg/arrow-down.svg);
				background-repeat: no-repeat;
				display: block;
				width: 10px;
				height: 10px;
				top: 56%;
		    transform: translate(-5px,-50%);
			}
		}
		.cs-options {
			margin-top: 3px;
			border: 2px solid #e6e6e6;
			box-shadow: 0 0 30px #cdcdcd;
			color: #000;
			font-size: 13px;
			line-height: 29px;
		}
		.cs-active  {
			.cs-placeholder {
				color: @blue !important;
			}
		}
	}
	div.cs-skin-border {
		font-size: 13px;
		font-weight: 400;
	}
	&__pagination-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 22px;
		position: relative;
		margin-bottom: 40px;
	}
}
.pagination {
	font-size: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	&-link {
		display: inline-block;
		font-size: 13px;
		width: 22px;
		height: 22px;
		background-color: transparent;
		border-radius: 6px;
		text-align: center;
		margin-right: 11px;
		line-height: 22px;
		font-size: 14px;
		&_active {
			background-color: @blue;
			color: #fff;
		}
	}
}

.pagination-next {
	margin-left: auto;
	a {
		color: @grey;
		padding-right: 35px;
		position: relative;
	}
	svg {
		width: 20px;
		height: 14px;
		position: absolute;
		right: -35px;
		top: 2.5px;
	}
}

@media (min-width: 768px) and (max-width: 1279px) {
	.posters {
		&__wrapper {
			width: 92.5%;
			max-width: 900px;
		}
		&__list {
			.poster-item {
				padding: 25px 10px;
			}
			.poster-wrapper {
				flex-wrap: wrap;
			}
			.poster-logo {
				margin-right: 25px;
			}
			.poster-details {
				width: 35% !important;
			}
			.poster-price-block {
				width: 32%;
				margin-left: 0;
				display: flex;
				flex-direction: column;
				p {
					text-align: right;
				}
				.poster-btn {
					width: 75%;
					margin-top: auto;
					margin-left: auto;
				}
			}
		}
/* 		&__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.poster-item {
		width: 47%;
	}
} */
	}
}

@media screen and (max-width: 767px) {
	.posters {
		padding-top: 17px;
		&__wrapper {
			width: 92.5%;
			max-width: 500px;
			padding: 0;
		}
		&__header-wrapper {
			margin-bottom: 8px;
			h2 {
				font-size: 20px;
				line-height: 24px;
			}
			.cs-skin-border {
				width: 100px;
				.cs-options {
					width: 285%;
			    transform: translateX(-64%);
			    margin-top: 52px;
			    box-shadow: none;
			    border: 1px solid #e6e6e6;
			    border-top: none;
			    &:before {
			    	padding-left: 10px;
			    	padding-top: 20px;
			    	padding-bottom: 15px;
			    	text-indent: 10px;
			    	content: "Соритировка: ";
			    	display: block;
			    	width: 100%;
			    	background-color: #fff;
			    	min-height: 25px;
			    	border: 1px solid #e6e6e6;
			    	border-bottom: none;
			    	//text-align: center;
			    	font: inherit;
			    	font-size: 15px;
			    	font-weight: 700;
			    	line-height: 29px;
			    }
				}
			}
			.cs-skin-border .cs-placeholder{
				width: 23px;
				height: 23px;
				position: absolute;
				top: 8px;
				right: -3px;
				font-size: 0;
				border: none;
				background-image: url(../img/svg/sort.svg);
					background-repeat: no-repeat;
					background-position: center center;
				&:after {
					display: none;
				}
			}
		}
		&__list {
			.poster-wrapper {
				flex-wrap: wrap;
				padding-left: 7.5%;
			}
			.poster-item {
				padding-right: 0;
				padding-left: 0;
				padding-bottom: 19px;
				&:nth-child(n+4){
					display: none;
				}
				&:nth-child(2) {
					.poster-details {
						margin-bottom: 4px;
					}
				}
				&:nth-child(3) {
					.poster-details {
						margin-bottom: 5px;
					}
				}
			}
			.poster-link {
				width: 100%;
				height: 65%;
			}
			.poster-logo {
				width: 100%;
				margin: 0 auto;
				img {
					width: 238px;
				}
			}
			.poster-details {
				padding-left: 0;
				width: 100%;
				max-width: 238px !important;
				h3 {
					font-size: 16px;
					line-height: 21px;
				}
			}
			.poster-city,
			.poster-date,
			.poster-category {
				display: none;
			}
			.poster-price-block {
				padding-top: 3px;
				margin-left: 0;
				//width: 85%;
				max-width: 238px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
			.poster-price {
				width: 50%;
				order: 2;
				text-align: right;
			}
			.poster-count {
				width: 50%;
				order: 1;
			}
			.poster-btn {
				width: 238px;
				order: 3;
			}
		}
		&__pagination-wrapper {
			justify-content: space-between;
			padding-top: 15px;
		}
		.pagination {
			 position: relative;
			//transform: translateX(0);
			//left: 0; 
			.pagination-link {
				&:nth-child(4),
				&:nth-child(5) {
					display: none;
				}
			}
		}
		.pagination-next {
			margin-left: 0;
			a {
				font-size: 0;
			}
			svg {
				right: 0;
				top: -11px;
			}
		}
	}
}