section.my-messages
	.my-messages__wrapper
		.my-messages__tab
			form(action="")
				.my-messages__tab-panel
					.my-messages__tab-select
						select#messages-select.cs-select.cs-skin-border(name="category-search")
							option(value="" disabled selected) Все сообщения
							option(value="") Новые
							option(value="") Полученные
							option(value="") Отправленные
					.my-messages__tab-btn-group
						a(href="#").my-messages__tab-btn.my-messages__tab-btn_active Все  
						a(href="#").my-messages__tab-btn Новые
						a(href="#").my-messages__tab-btn Полученные 
						a(href="#").my-messages__tab-btn Отправленные
					button(type="submit").my-messages__delete-btn #[+icon("trash")] #[+icon("trash_hover","hover")] Удалить
				.my-messages__tab-content
					ul.my-messages__list(data-message-list="all" data-visible="true")
						+my_message("pushkin","Александр Пушкин","Новый бордовые кеды Vans Old School","Здравствуйте! Меня заинтересовало ваше объявление, хотелось уточнить детали", "27", "апреля", "11", "34")
						+my_message("gogol","Николай Гоголь","Новое постельное белье","Привет! Договорились!", "14", "мая", "08", "51")
						+my_message("chekhov","Антон Чехов","Чехол для iphone 6s","Здравствуйте! Не могли бы Вы отправить мне товар в другой город?", "1", "июня", "20", "22")
						+my_message("lermontov","Михаил Лермонтов","Натяжные потолки от производителя","Хай! Предложение ещё актуально?", "7", "августа", "09", "39")

