section.my-messages
	.my-messages__wrapper
		.my-messages__tab-panel
			.my-messages__tab-btn-group
				button(type="button").my-messages__tab-btn.my-messages__tab-btn_active Все  
				button(type="button").my-messages__tab-btn Новые
				button(type="button").my-messages__tab-btn Полученные 
				button(type="button").my-messages__tab-btn Отправленные
			a(href="#").my-messages__delete-btn #[+icon("trash")] #[+icon("trash_hover","hover")] Удалить
		.my-messages__list
			
