header.page-header
	nav.page-header__navigation
		.page-header__navigation-wrapper
			button(type="button" data-burger-btn="").page-header__burger
			a(href="#").page-header__logo-text BARTER
			.page-header__menu-wrapper(data-burger-menu="")
				.page-header__menu-controls-wrapper
					button(type="button" data-close-btn="").page-header__close-btn
						+icon("arrow-left")
					ul.page-header__menu
						li.page-header__menu-item
							a(href="#") Объявления  
						li.page-header__menu-item
							a(href="#") О проекте   
						li.page-header__menu-item
							a(href="#") Помощь
					ul.page-header__user-menu
						li.page-header__user-menu-item
							a(href="#") Я продаю  
						li.page-header__user-menu-item
							a(href="#") Хочу купить  
						li.page-header__user-menu-item
							a(href="#") Сообщения
						li.page-header__user-menu-item
							a(href="#") Редактировать профиль
						li.page-header__user-menu-item
							a(href="#") Выход
					.page-header__personal-menu_mob
						a.page-header__personal-messages(href="#")
							span.page-header__personal-messages-icon
								+icon("message")
							span.page-header__personal-messages-count 1
						a.page-header__login-link(href="#") 
							span.page-header__login-link-icon
								+icon("user")
							span.page-header__login-link-text Личный кабинет
			.page-header__personal-menu
				a.page-header__personal-messages(href="#")
					span.page-header__personal-messages-icon
						+icon("message")
					span.page-header__personal-messages-count 1
				a.page-header__login-link(href="#") 
					span.page-header__login-link-icon
						+icon("user")
					span.page-header__login-link-text Личный кабинет
			a.page-header__request-btn(href="#")
				+icon("plus")
				span Подать объявление 
	section.page-header__search
		.page-header__search-wrapper
			form.page-header__search-form
				.page-header__search-controls-wrapper
					select#category.cs-select.cs-skin-border(name="category-search")
						option(value="" disabled selected) Категория
						option(value="") Услуги и деятельность
						option(value="") Товары для детей
						option(value="") Мода и стиль
						option(value="") Бытовая электроника
						option(value="") Всё для дома и сада
						option(value="") Продукты питания
						option(value="") Транспорт
						option(value="") Хобби, отдых и спорт
					select#poster.cs-select.cs-skin-border(name="poster-search")
						option(value="" disabled selected) Поиск по объявлениям
						option(value="") Услуги и деятельность
						option(value="") Товары для детей
					select#location.cs-select.cs-skin-border(name="location-search")
						option(value="" disabled selected) Вся Россия
						option(value="") Москва
						option(value="") Санкт-Петербург
						option(value="") Казань
					button.page-header__search-form-btn Найти
				.page-header__options-wrapper
					label(for="headers")
						input#headers(type="checkbox")
						span Искать по заголовкам
					label(for="photo")
						input#photo(type="checkbox")
						span Только с фото


